{% extends "taskformsubmit/base.html" %}

{% block title %}User Profile Details - Task Form Submit{% endblock %}

{% block content %}
  <div class="container mt-4">
    <h1>User Profile Details</h1>
    <dl class="row">
      <dt class="col-sm-3">Name:</dt>
      <dd class="col-sm-9">{{ user.name }}</dd>
      <dt class="col-sm-3">Gender:</dt>
      <dd class="col-sm-9">{{ user.get_gender_display }}</dd>
      <dt class="col-sm-3">Phone:</dt>
      <dd class="col-sm-9">{{ user.phone }}</dd>
      <dt class="col-sm-3">Email:</dt>
      <dd class="col-sm-9">{{ user.email }}</dd>
      <dt class="col-sm-3">Address:</dt>
      <dd class="col-sm-9">{{ user.address }}</dd>
      <dt class="col-sm-3">Nationality:</dt>
      <dd class="col-sm-9">{{ user.nationality.name }}</dd>
      <dt class="col-sm-3">Date of Birth:</dt>
      <dd class="col-sm-9">{{ user.date_of_birth }}</dd>
      <dt class="col-sm-3">Education Background:</dt>
      <dd class="col-sm-9">{{ user.education_background }}</dd>
      <dt class="col-sm-3">Preferred Mode of Contact:</dt>
      <dd class="col-sm-9">{{ user.get_preferred_mode_of_contact_display }}</dd>
    </dl>
    <a href="{% url 'user_list' %}" class="btn btn-primary">Back to User List</a>
  </div>
{% endblock %}