{% extends "taskformsubmit/base.html" %}
{% load static %}

{% block title %}{% if form.instance.id %}Edit{% else %}Create{% endif %} User Profile - Task Form Submit{% endblock %}

{% block content %}
  <div class="container mt-4">
    <h1>{% if form.instance.id %}Edit{% else %}Create{% endif %} User Profile</h1>
    <form id="userProfile" method="post">
      {% csrf_token %}
      {% for field in form %}
      <p>
          <div>{{ field.label_tag }}</div>
          <div>
              {{ field }}
              {{ field.errors }}
              {% if field.help_text %}
              <img class="tooltip" title="{{ field.help_text }}" src="{{ MEDIA_URL }}images/icon_help.png">
              {% endif %}
          </div>
      </p>
      {% endfor %}
      <button type="submit" class="btn btn-primary">{% if form.instance.id %}Update{% else %}Create{% endif %}</button>
      <a href="{% url 'user_list' %}" class="btn btn-secondary">Cancel</a>
    </form>

  </div>
{% endblock %}

