{% extends "taskformsubmit/base.html" %}

{% block title %}User Profiles - Your Website{% endblock %}

{% block content %}
  <div class="container mt-4">
    <h1>User Profiles</h1>
    <table class="table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Gender</th>
          <th>Phone</th>
          <th>Email</th>
          <th>Nationality</th>
          <th>Date of Birth</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        {% for user in users %}
          <tr>
            <td>{{ user.name }}</td>
            <td>{{ user.get_gender_display }}</td>
            <td>{{ user.phone }}</td>
            <td>{{ user.email }}</td>
            <td>{{ user.nationality }}</td>
            <td>{{ user.date_of_birth }}</td>
            <td>
                <a href="{% url 'user_detail' user.id %}" class="btn btn-info btn-sm">View</a>

                {% if login_user.is_staff or login_user.is_superuser %}
                    <a href="{% url 'user_update' user.id %}" class="btn btn-primary btn-sm">Edit</a>
                {% endif %}

                {% if login_user.is_superuser %}
                    {% if user.is_deleted %}
                        <a href="{% url 'user_undelete' user.id %}" class="undelete-button btn btn-success btn-sm">Undelete</a>
                    {% else %}
                        <a href="{% url 'user_delete' user.id %}" class="btn btn-danger btn-sm">Delete</a>
                    {% endif %}
                {% endif %}
            </td>

          </tr>
        {% empty %}
          <tr>
            <td colspan="7">No user profiles available.</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
    <a href="{% url 'register_user' %}" class="btn btn-success">Create a new user profile</a>
  </div>
{% endblock %}
